* {
    margin: 0;
}

.sfondoalto {
    width: 100%;
    height: 100px;
    background-image: url(./img/pattern.png);
    background-repeat: repeat-x;
    background-size: 25%;
    background-color: #157bff;
    position: relative;
}
.logo {
width: 15%;
height: 100px;
position: absolute;
left:0;
top: 20px;
}

h1 {
    font-size: 50px;
    margin-left: 5px;
}

figcaption {
    margin-left: 5px;
    color: gray
}

a{
    text-decoration-line: blink;
    color: #157bff;
}

figure {
    margin-left: 5px;
}

span {
    background-color: yellow;
}

.testo {
    margin-left: 5px;
    text-align: justify;
}

ul {
    margin-left: 20px;
    padding: 0;
}

table {
    width: 100%; 
    border-collapse: collapse;
}

td {
    height: 50px;
}

td, th {
    width: 25%;
}

th {
    text-align: left;
    color: white;
    background-color: rgb(26, 120, 209);
}

.colore {
 background-color: lightblue;
}